{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
		<style>
			a:link{
				color: white;
				background-color:transparent;
				text-decoration: none;
			}
			
			a:hover{
				color: red;
				background-color:transparent;
				text-decoration: underline;
			}
		</style>	
        <title>
            {% block title %}Team #1 Clueless{% endblock %}
        </title>
        {% block permenent_links %}
	    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
	    <link rel="stylesheet" type="text/css" href="CSS/base.css" />
          <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        {% endblock permenent_links %}
        <script>
          {% block scripts %}
          {% endblock %}
        </script>
    </head>
<body>
{% block header_bar %}
  <p><a href="/logout/">Logout</a></p>
{% endblock %}
{% block content %}{% endblock %}
</body>
</html>
