<!-- game/templates/index.html -->
{% extends "base.html" %}

<!DOCTYPE html>
<html>
  <head>
      <title>
        {% block title %}Clueless{% endblock %}
      </title>
      {% block scripts %}
      $(document).ready(function(){
          setInterval(function(){
            if($('#no-update').length){
                // Do nothing
            }else{
              $.ajax({
                type: "get",
                url: "{% url 'game:update_player_options' %}",
                method: "GET",
                success: function(response, status, xhr){
                  var ct = xhr.getResponseHeader("content-type") || "";
                  if (ct.indexOf('html') > -1) {
                    $('#player_options').html(response);
                  }
                  if (ct.indexOf('json') > -1) {
                    if(response['winner'] == null){
                      alert("The game has ended and nobody has won! You will be redirected to the home page after closing this window.")
                      window.location.href = "{% url 'game:home' %}"
                    }else{
                      alert("The game has ended and " + response['winner'] + " has won! You will be redirected to the home page after closing this window.")
                      window.location.href = "{% url 'game:home' %}"
                    }
                  }
                }
              });
            }
          }, 1000);

          $(document).on("click", "#pass-turn", function(event) {
            $.ajax({
              type: "get",
              url: "{% url 'game:pass_turn' %}",
              method: "GET",
              success: function(response, status, xhr){
              }
            });
          });

          $(document).on("click", "#get-valid-moves", function(event) {
            $.ajax({
              type: "get",
              url: "{% url 'game:get_valid_moves' %}",
              method: "GET",
              success: function(response, status, xhr){
                $('#player_options').html(response);
              }
            });
          });

          $(document).on("click", "#back", function(event) {
            $.ajax({
              type: "get",
              url: "{% url 'game:back' %}",
              method: "GET",
              success: function(response, status, xhr){
                $('#player_options').html(response);
              }
            });
          });

          $(document).on("click", ".room-select", function(event) {
            $.ajax({
              type: "get",
              url: "{% url 'game:move_to_room' %}",
              data: {location: $(this).attr('id')},
              method: "GET",
              success: function(response, status, xhr){
                //$('#player_options').html(response);
              }
            });
          });

          $(document).on("click", "#select-suggestion-cards", function(event) {
            $.ajax({
              type: "get",
              url: "{% url 'game:select_suggestion_cards' %}",
              method: "GET",
              success: function(response, status, xhr){
                $('#player_options').html(response);
              }
            });
          });

          $(document).on("click", "#select-accusation-cards", function(event) {
            $.ajax({
              type: "get",
              url: "{% url 'game:select_accusation_cards' %}",
              method: "GET",
              success: function(response, status, xhr){
                $('#player_options').html(response);
              }
            });
          });

          $(document).on("click", "#pass-suggestion", function(event) {
            $.ajax({
              type: "get",
              url: "{% url 'game:pass_suggestion' %}",
              method: "GET",
              success: function(response, status, xhr){
                //$('#player_options').html(response);
              }
            });
          });

      });
      {% endblock %}
  </head>
<body>
  {% block content %}
      {% include 'game_board.html' %}
      {% include 'player_hand.html' %}
      <div class=container>
        <h2>Player Actions</h2>
        <div id=player_options>
        </div>
      </div>
  {% endblock %}
</body>
</html>
