<div class=container id=game-board>
  <h2>Game Board</h2>
  <div class=row id=top-row>
    <div class="col-sm-2 room" id=study>
      <p>Study</p>
    </div>
    <div class="col-sm-2 hallway" id=study-to-hall-hallway>
      <p>S-H Hallway</p>
    </div>
    <div class="col-sm-2 room" id=hall>
      <p>Hall</p>
    </div>
    <div class="col-sm-2 hallway" id=hall-to-lounge-hallway>
      <p>H-L Hallway</p>
    </div>
    <div class="col-sm-2 room" id=lounge>
      <p>Lounge</p>
    </div>
  </div>
  <div class=row id=mid-top-row>
    <div class="col-sm-2 hallway" id=study-to-library-hallway>
      <p>S-L Hallway</p>
    </div>
    <div class="col-sm-2 empty">
      <p></p>
    </div>
    <div class="col-sm-2 hallway" id=hall-to-billiard-room-hallway>
      <p>Hall-BR Hallway</p>
    </div>
    <div class="col-sm-2 empty">
      <p></p>
    </div>
    <div class="col-sm-2 hallway" id=lounge-to-dining-room-hallway>
      <p>L-DR Hallway</p>
    </div>
  </div>
  <div class=row id=mid-row>
    <div class="col-sm-2 room" id=library>
      <p>Library</p>
    </div>
    <div class="col-sm-2 hallway" id=library-to-billiard-room-hallway>
      <p>L-BR Hallway</p>
    </div>
    <div class="col-sm-2 room" id=billiard-room>
      <p>Billiard Room</p>
    </div>
    <div class="col-sm-2 hallway" id=billiard-room-to-dining-room-hallway>
      <p>BR-DR Hallway</p>
    </div>
    <div class="col-sm-2 room" id=dining-room>
      <p>Dining Room</p>
    </div>
  </div>
  <div class=row id=mid-bot-row>
    <div class="col-sm-2 hallway" id=library-to-conservatory-hallway>
      <p>L-C Hallway</p>
    </div>
    <div class="col-sm-2 empty">
      <p></p>
    </div>
    <div class="col-sm-2 hallway" id=billiard-room-to-ballroom-hallway>
      <p>BR-B Hallway</p>
    </div>
    <div class="col-sm-2 empty">
      <p></p>
    </div>
    <div class="col-sm-2 hallway" id=dining-room-to-kitchen-hallway>
      <p>DR-K Hallway</p>
    </div>
  </div>
  <div class=row id=mid-row>
    <div class="col-sm-2 room" id=conservatory>
      <p>Conservatory</p>
    </div>
    <div class="col-sm-2 hallway" id=conservatory-to-ballroom-hallway>
      C-B Hallway
    </div>
    <div class="col-sm-2 room" id=ballroom>
      <p>Ballroom</p>
    </div>
    <div class="col-sm-2 hallway" id=ballroom-to-kitchen-hallway>
      <p>B-K Hallway</p>
    </div>
    <div class="col-sm-2 room" id=kitchen>
      <p>Kitchen</p>
    </div>
  </div>
</div>
