<!-- game/templates/index.html -->
{% extends "base.html" %}

<!DOCTYPE html>
<html>
  <head>
      <title>
        {% block title %}Clueless{% endblock %}
      </title>
      {% block scripts %}
      $(document).ready(function(){
          setInterval(function(){
            $.ajax({
              url: "{% url 'game:update_home_page' %}",
              method: "GET",
              success: function(data){
                if(data.game_state == 2)
                {
                  window.location.href = "{% url 'game:start_game' game_pk %}";
                }
              }
            });
          }, 1000);
      });
      {% endblock %}
  </head>
<body>
  {% block content %}
      {% if in_game %}
      <div id="waiting_game">
        <p>Waiting for Start</p>
      </div>
        {% if is_owner %}
        <div id="start_game">
          <p><a href="/start_game/{{game_pk}}">Start Game</a></p>
        </div>
        {% endif %}
      {% else %}
      <div id="create_game">
        <p><a href="/create_game/">Create New Game</a></p>
      </div>
      <div id="join_game">
        <p><a href="/join_game/">Join Game</a></p>
      </div>
      {% endif %}

  {% endblock %}
</body>
</html>
