<!-- game/templates/index.html -->
{% extends "base.html" %}

<!DOCTYPE html>
<html>
  <head>
      <title>
        {% block title %}Clueless{% endblock %}
      </title>
      {% block scripts %}
        function ready_func() {
          $('#ready_button').html('').load(
              "{% url 'ready' %}"
          );
        }
        function unready_func() {
          $('#ready_button').html('').load(
              "{% url 'unready' %}"
          );
        }

      {% endblock %}
  </head>
<body>
  {% block content %}
      <div id=ready_button>
        {% include 'ready_button.html' %}
      </div>
  {% endblock %}
</body>
</html>
