<div class=container id=suggestion_options>
  <h5>Bolded cards are cards that are currently in your hand</h5>
  <form id=suggestion_form action="{% url 'game:make_suggestion' %}" method="post">
      {% csrf_token %}
    <div class=container>
      <div class=col-sm-4 id=suspect_options_div>
        <fieldset id=suspect_options>
          <ul style="list-style-type:none">
          {% for suspect_card in suspect_list %}
            <li>
              <input type=radio value={{suspect_card.name}} name=suspect_options>
              {% if suspect_card.in_hand %}
                <strong>
                {{suspect_card.text}}
              </strong>
              {% else %}
                {{suspect_card.text}}
              {% endif %}
            </br>
            </li>
          {% endfor %}
          </ul>
        </fieldset>
      </div>
      <div class=col-sm-4 id=weapon_options_div>
        <fieldset id=weapon_options>
          <ul style="list-style-type:none">
          {% for weapon_card in weapon_list%}
            <li>
              <input type=radio value={{weapon_card.name}} name=weapon_options>
                {% if weapon_card.in_hand %}
                  <strong>
                  {{weapon_card.text}}
                </strong>
                {% else %}
                  {{weapon_card.text}}
                {% endif %}
              </br>
            </li>
          {% endfor %}
          </ul>
        </fieldset>
      </div>
      <div class=col-sm-4 id=room_options_div>
        <fieldset id=room_options>
        <input type=radio value={{location.name}} name=room_options checked>
        {% if location.in_hand %}
          <strong>
          {{location.text}}
        </strong>
        {% else %}
          {{location.text}}
        {% endif %}
      </br>
      </fieldset>
      </div>
    </div>
    <input type="submit" value="Suggest">
  </form>
  <button id=back>Back</button>
</div>
